* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.box {
    margin-left: 5px;
    margin-right: 5px;

}

.container {
    width: 100vw;
}

.megabox {
    width: 80vw;
    background-color: #f1f380;
    margin: 0 auto;
}

.fullw {
    width: 80%;
    margin: 0 auto;

}

header{
    height: 100px;
    background-color: #4c6bf3;
}

nav {
    height: 30px;
    background-color: #e49240;
}

.middle {
    height: 100%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

aside {
    width: 20%;
}

aside .box {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #39943c;

}

.left {
    height: 500px;
    background-color: #cd73ea;
    float: left;
}

main {
      width: calc(60% - 30px);
    height: 600px;
    background-color: #e03e26;
    float: left;

}

.right {
    float: right;
}

.ads {
    height: 60px;
}

.link {
    height: 130px;
}

footer {
    height: 100px;
    background-color: #028c77;
}
